appdirs==1.4.4
asgiref==3.4.1
autopep8==1.5.7
certifi==2020.12.5
distlib==0.3.1
Django==3.2
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
filelock==3.0.12
pipenv==2020.11.15
pycodestyle==2.7.0
pytz==2020.1
sqlparse==0.3.1
toml==0.10.2
virtualenv==20.4.6
virtualenv-clone==0.5.4
